<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
		<section name="exceptionManagement" 
				type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement" />
		<section name="EventWriter"
				type="System.Configuration.NameValueFileSectionHandler" />
</configSections>
	<exceptionManagement mode="on">
		<publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement"
			type="Microsoft.ApplicationBlocks.ExceptionManagement.DefaultPublisher"
			logName="Forest Applications" applicationName="ForReport" />
	</exceptionManagement> 
<EventWriter>
			<add key="UseEventLog" value="False" />
			<add key="EventLogName" value="Forest Applications" />
			<add key="ApplicationName" value="ForReport" />
			<add key="UseMasterMachine" value="False" />
			<add key="MasterMachineName" value="" />
			<add key="UseLogFile" value="True" />
			<add key="LogFileName" value="c:\\temp\\ForReport.log" />			
</EventWriter>
<appSettings>
			<add key="UseLogFile" value="True" />
			<add key="LogFileName" value="C:\\gee\\Vato\\reports\\ForReport\\ForReport.log" />
			<add key="TestMode" value="False" />
			<add key="TestEmailAddresses" value="radhesham.more@tietoevry.com" />
			<add key="ObserverEmailAddresses" value="for-it_tuki@upm.com;juha.p.korhonen@upm.com;eliisa.meinander@upm.com;raimo.katainen@upm.com;tero.anttila@upm.com;pekka.lepikko@upm.com;pertti.ahtiainen@upm.com;anni.inkila@upm.com;virpi.kuutti@upm.com;rauno.auvinen@upm.com;pekka.pietila@upm.com;Antti.Huusko@upm.com;hannu.hotma@upm.com;juha.pasi@upm.com;minna.ritakallio@upm.com;pentti.e.kantola@upm.com;reijo.pera-kasari@upm.com;sini.nikula@upm.com;tuomas.niinisto@upm.com;helge.heikkinen@upm.com;juha.e.tarkiainen@upm.com;leo.pykalainen@upm.com;marika.blom@upm.com;matti.pilssari@upm.com;pirkko.kajander@upm.com;tiina.tamminen@upm.com;ville-veikko.heinila@upm.com;eero.karjalainen@upm.com;jukka.hirvonen@upm.com;mikko.kaivola@upm.com;vilma.grohn@upm.com;erno.toroi@upm.com;esa.lehto@upm.com;olavi.huotari@upm.com;pia.hetekivi-rutanen@upm.com;sture.lagland@upm.com;juha.pasi@upm.com;mikko.i.heikkinen@upm.com;hannele.paasonen@mkpd.fi" />
			<add key="SendLimitDays" value="85" />
			<add key="WorkDir" value="C:\gee\Vato\reports\ForReport" />
			<add key="BackupDir" value="C:\gee\Vato\reports\ForReport\backup" />
			<add key="StorePdfDays" value="14" />
			<add key="SmtpServer" value="smtp.upm.com" />
			<add key="HarvestFeedbackDALC_DBType" value="oracle" />
			<add key="HarvestFeedbackDALC_ConnectionString" value="User Id=vato;Password=U2iezYiyF6goIt63hg;Data Source=formp;" />
   </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" culture="neutral" publicKeyToken="89b483f429c47342"/>
        <bindingRedirect oldVersion="10.1.0.400" newVersion="4.122.1.0"/>
        <bindingRedirect oldVersion="9.2.0.401" newVersion="4.122.1.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
